body {
    color: gray;
    background-color: lightblue;
    font-family: 'Cormorant SC', serif;
}
h1 {
    color: rgb(70, 66, 66); 
    background-color:aliceblue;
    font-family:'Cormorant SC', serif;
}
h3 {
    color:rgb(70, 66, 66);; 
    background-color:aliceblue;
    font-family:'Cormorant SC', serif;
}
a {color: gray;}