body {
    color:gray;
    background-color: lightblue;
    font-family: 'Cormorant SC', serif;
}
h1 {
    color:gray;
    background-color:aliceblue;
    font-family:'Cormorant SC', serif;
}
h2 {
    color:gray;
    background-color:aliceblue;
    font-family:'Cormorant SC', serif;
}
h3 {
    color:gray;
    background-color:aliceblue;
    font-family:'Cormorant SC', serif;
}

nav {background-color:rgb(217, 217, 241);}

nav a {color:white;}
nav {color:white;}

nav a:hover {background-color:rgb(185, 179, 179);}
nav {
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(217, 217, 241);
    }

div {
    border: 1px solid lightgray;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}